services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.0
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak_db
      KC_DB_URL_DATABASE: ${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_DB_SCHEMA: public
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HTTPS_CERTIFICATE_FILE: /opt/keycloak/conf/certs/34.171.206.226.pem
      KC_HTTPS_CERTIFICATE_KEY_FILE: /opt/keycloak/conf/certs/34.171.206.226-key.pem
    ports:
      - "8080:8080"
      - "8443:8443"
    depends_on:
      keycloak_db:
        condition: service_healthy
    networks:
      - keycloak-network
    volumes:
      - ./certs:/opt/keycloak/conf/certs

  keycloak_db:
    image: postgres:16
    command: postgres -c 'max_connections=200'
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: "exit 0"
    ports:
      - "5432:5432"
    networks:
      - keycloak-network
volumes:
  keycloak_db_data:
networks:
  keycloak-network:
    driver: bridge